
<nav>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/galeria">Galería</a></li>
        <li><a href="/registro">Registrarme</a></li>
        <li><a href="/login">Iniciar Sesion</a></li>
        <li><a href="/about">Acerca de</a></li>
       
    </ul>
</nav>