<%- include ("../templates/encaInici")%>
<%- include ("../templates/menu")%>
<header>
    <h1>Galería de Vinilos</h1>
</header>
<div class="gallery">
    <div class="image">
        <img src="/web/images/billie.jpeg" alt="Vinilo 1">
    </div>
    <div class="image">
        <img src="/web/images/harry.jpeg" alt="Vinilo 2">
    </div>
    <div class="image">
        <img src="/web/images/louisss.jpeg" alt="Vinilo 1">
    </div>
    <div class="image">
        <img src="/web/images/rojo.jpeg" alt="Vinilo 2">
    </div>
    <div class="image">
        <img src="/web/images/lui.jpeg" alt="Vinilo 1">
    </div>
    <div class="image">
        <img src="/web/images/harryhouse.jpeg" alt="Vinilo 2">
    </div>
    <div class="image">
        <img src="/web/images/louisss.jpeg" alt="Vinilo 1">
    </div>
    <div class="image">
        <img src="/web/images/harryhouse.jpeg" alt="Vinilo 2">
    </div>
    <div class="image">
        <img src="/web/images/billie.jpeg" alt="Vinilo 1">
    </div>
    <div class="image">
        <img src="/web/images/harry.jpeg" alt="Vinilo 2">
    </div>
    <div class="image">
        <img src="/web/images/louisss.jpeg" alt="Vinilo 1">
    </div>
    <div class="image">
        <img src="/web/images/billie.jpeg" alt="Vinilo 1">
    </div>
    <div class="image">
        <img src="/web/images/harry.jpeg" alt="Vinilo 2">
    </div>
    <div class="image">
        <img src="/web/images/louisss.jpeg" alt="Vinilo 1">
    </div>
    
</div>

<%- include ("../templates/pie")%>